.dropdown_list.active {
  opacity: 1;
  visibility: visible;
  transition: 500ms ease;
}

.dropdown_list.inactive {
  opacity: 0;
  visibility: hidden;
  transition: 500ms ease;
}

.dropdown_stuff.active {
  opacity: 1;
  visibility: visible;
  transition: 500ms ease;
}

.dropdown_stuff.inactive {
  opacity: 0;
  visibility: hidden;
  transition: 500ms ease;
}
